.container {
    width: 100%;
    height: 320px;
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 16px;
}

.container::-webkit-scrollbar {
    display: none;
  }

  .skeletonDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }