.container {
    z-index: 1;
    width: 240px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #E6EAEF;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 0px 16px;

    // 모바일
    @media (max-width: 767px){
	width: 100%;
    }

    // 태블릿 세로
    @media (min-width: 768px) and (max-width: 991px) {
    
    }

    @media (min-width: 992px) and (max-width: 1199px) {
    // 테블릿 가로
    }

    @media (min-width: 1200px) {
    // 데스크탑 일반
    }
}

.categoryClassification {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Pretendard';
    font-weight: 400;
    margin-top: 20px;
    color: #8696AB;
    cursor: default;
}


